body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
}

.theme {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  position: absolute; /* Position the button absolutely */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.light .theme:hover {
  background-color: lightgray; /* Light background on hover */
  color: black; /* Text color on hover */
}

.dark .theme:hover {
  background-color: gray; /* Dark background on hover */
  color: white; /* Text color on hover */
}
